main {
    display: flex;
    flex-direction: row;
    gap: $spacing-xl;
}

aside {
    width: 300px;
    order: 10;
}

.content {
    flex: 1;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
        order: -10;
    }
}