.pinned-image-container {
    position: relative;
    width: 100%;
    overflow: visible;
    margin-bottom: $spacing-md;

    .raw-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .pin-image {
        position: absolute;
        top: -15px;
        height: 50px;
        right: calc(25%);
    }
}
