.blog-link {
    text-decoration: none;
}

.card {
    margin-bottom: calc($spacing-md - 0px);
    position: relative;
    overflow: hidden;
    padding: $spacing-md;
    padding-bottom: calc($spacing-md - 1px);
    background-color: $background-color;
    border-left: 1px solid $grid-color;
    border-top: 1px solid $grid-color;

    &:hover {
        // Used this color because it is a mix of tha background
        // color with a super transparent overlay of the grid color
        background-color: $background-grid-tint;
    }

    .blog-card-date {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.toc {
    display: flex;
    flex-direction: column;
}

.toc-links-container {
    padding-top: 4px;
    padding-bottom: 16px;
}

.toc-link {
    min-width: 0;
    display: flex;
    flex-direction: row;

    &.indented {
        margin-left: $spacing-md;
    }

    p {
        margin-right: $spacing-xs;
        padding: 0;
    }

    .toc-links-body a {
        text-decoration: none;
        padding-bottom: 0;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                text-decoration-color: $primary-color;
            }
        }
    }
}

.share-post-link {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.blog-title {
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.blog-info {
    span {
        color: black;
        white-space: nowrap;
    }
}

@media (max-width: 800px) {
    .share-post-link {
        margin: 0 0;
    }
}

.back-to-top {
    text-align: end;
    a {
        font-size: inherit;
    }
}

pre {
    background-color: rgba(133, 195, 245, 0.25);
    padding: $spacing-md;
    padding-bottom: $spacing-md;
    margin-bottom: calc($spacing-md - 0px);
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &::after {
        position: absolute;
        // the p aligned with the background 
        // grid, making it hard to read
        right: calc($spacing-xs + 6px);
        top: $spacing-xs;
        content: 'copy';
        color: $dark-grid-color;
        font-size: $font-small;
    }

    code {
        color: $dark-grid-color;
        line-height: 20px;
        text-wrap: wrap;
    }
}

blockquote {
    border-left: 2px solid $primary-color;
    padding-left: $spacing-xs;
    margin-left: $spacing-xs;
    font-style: italic;
    margin-bottom: calc($spacing-md - 0.5px);

    p {
        padding-bottom: 16px;
    }

    li::before {
        content: '-';
        text-align: center;
        display: inline-block;
        color: black;
    }
}

article {
    h2,
    h3 {
        color: $primary-color;
    }
}
