#projects-footer {
    margin-top: $spacing-md;

    a {
        line-height: inherit;
        font-size: inherit;
    }
}

.project-card {
    h2 {
        a {
            font-size: inherit;
        }
    }
}