header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

.left-header {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#face-click-prompt {
    color: $primary-color;
}

#icon-container {
    border: 1px solid red;
    position: relative;
    right: 10px;
    height: 140px;

    .doodle-icon {
        border: 1px solid lime;
        height: 140px;
    }

    #icon-change-hitbox {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 60px;
        width: 60px;
        background-color: red;
    }
}

nav {
    display: flex;
    flex-direction: column;
    min-width: 300px;

    .nav-button {
        display: block;
        text-decoration: none;
    }

    .asterisk {
        margin-right: $spacing-xs;
    }

    .nav-button .asterisk {
        visibility: hidden;
    }

    .nav-button:hover .asterisk {
        visibility: visible;
    }

    .nav-button.active .asterisk {
        visibility: visible;
    }
}

@media (max-width: 700px) {
    nav {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }
}

.icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
