header {

}

.left-header {
    position: relative;
}

#face-click-prompt {
    color: $primary-color;
}

.doodle-icon {
    // position: absolute;
    // left: 240px;
    // outline: 1px solid purple;
    height: 140px;
}