body {
  background-color: $background-color;
}

#root {
  overflow-y: auto;
}

#website-container {
  margin: $spacing-md auto;
  max-width: 901px;
  background-image: linear-gradient($grid-color 1px, transparent 1px),
    linear-gradient(90deg, $grid-color 1px, transparent 1px);
  background-size: 20px 20px;
}

main {
  margin-top: $spacing-xl;
  // padding: 0 $spacing-md;
}

button {
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}