// Imported Font
@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-Regular.otf');
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-Italic.otf');
    font-weight: regular;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

// Font Measurements
$font-small: 12px;
$font-base: 16px;
$font-large: 20px;
$font-xlarge: 40px;

// Tag Adjustments
body {
    font-family: 'CommitMono';
    font-weight: normal;
}

h1,
h2,
h3 {
    font-weight: 200;
    // outline: 1px solid blue;
}

h1 {
    padding-top: 6px;
    padding-bottom: 14px;
    line-height: 40px;
    font-size: $font-xlarge;
}

h2 {
    padding-top: 3px;
    padding-bottom: 17px;
    line-height: 20px;
    font-size: $font-large;
}

p {
    font-size: $font-base;
    padding-top: 4px;
    line-height: 20px;
    padding-bottom: 16px;
}

span {
    color: $primary-color;
}

.small-text {
    font-size: $font-small;
    padding-top: 6px;
    padding-bottom: 14px;
    // outline: 1px solid gray;
    margin-bottom: 0px;
}
