// COLORS

// SPACINGS
$spacing-unit: 16px;
$spacing-xxs: calc(0.25 * $spacing-unit);
$spacing-xs: calc(.5 * $spacing-unit);
$spacing-sm: calc(0.75 * $spacing-unit);
$spacing-md: calc(1.25 * $spacing-unit);
$spacing-lg: calc(2 * $spacing-unit);
$spacing-xl: calc(3.25 * $spacing-unit);