// COLORS
$background-color: #faf9ec;
$grid-color: rgba(133, 195, 245, 0.8);
$primary-color: rgb(255, 140, 0);

// SPACINGS
$spacing-unit: 20px;

// add or remove if needed
$spacing-xs: calc(.25 * $spacing-unit);
$spacing-sm: calc(.5 * $spacing-unit);
$spacing-md: $spacing-unit;
$spacing-lg: calc(1.5 * $spacing-unit);
$spacing-xl: calc(2 * $spacing-unit);