html {
    -webkit-text-size-adjust: 100%;
    background-color: $background-color;
}

body {
    background-color: $background-color;
}

#root {
    background-color: $background-color;
    overflow-y: auto;
}

#copy-right {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;
    font-size: 12px;
    text-align: center;
    // Used relatively the same color as for the grid but darker
    // so there is more contrast for better readability
    color: rgb(50, 135, 200);
    margin: $spacing-sm auto;
}


#website-container {
    width: 100%;
    margin: $spacing-md auto;
    margin-bottom: 0;
    max-width: 901px;
    background-image: linear-gradient($grid-color 1px, transparent 1px),
        linear-gradient(90deg, $grid-color 1px, transparent 1px);
    background-size: 20px 20px;
    border-right: 1px solid $grid-color;
    border-bottom: 1px solid $grid-color;
}

// WEBSITE BACKGROUND WIDTH AND HEIGHT SNAP TO 20PX INCREMENTS SO NO PARTIAL GRID CELLS APPEAR

@for $i from 150 through 1280 {
    @if ($i % 20 == 0) {
        @media (min-width: #{$i}px) {
            #website-container {
                width: #{$i - 40}px;
            }

            #copy-right {
                width: #{$i - 40}px;
            }
        }
    }
}

@for $i from 200 through 4000 {
    @if ($i % 20 == 0) {
        @media (min-height: #{$i}px) {
            #website-container {
                // we did -50 because of the top/bottom margin as well
                // as the height of the copy right tag
                min-height: #{$i - 60}px;
            }
        }
    }
}

main {
    margin-top: $spacing-xl;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

button,
a {
    -webkit-tap-highlight-color: transparent;

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
        }
    }
}

.icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

blockquote {
    border-left: 2px solid $primary-color;
    padding-left: $spacing-xs;
    margin-left: $spacing-xs;
    font-style: italic;
    margin-bottom: $spacing-md;

    p {
        padding-bottom: 0;
        margin-bottom: 16px;
    }

    li::before {
        content: '-';
        text-align: center;
        display: inline-block;
        color: black;
    }
}
